<header class="page-header" role="banner">
  <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
  <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
  {% if site.show_buttons %}
  <a href="https://usegalaxy.eu/u/dennisd/w/pe---spades-shovill---staramr---hamronize" class="btn">Winnipeg workflow</a>
  <a href="https://usegalaxy.eu/u/dennisd/w/pe---spades-shovill---staramr---hamronize" class="btn">Catherine workflow</a>
  <a href="https://usegalaxy.eu/u/dennisd/w/pe---spades-shovill---staramr---hamronize" class="btn">Camel workflow</a>
  {% endif %}
</header>
