<section id="workflows">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">AMR detection workflows</h2>
        <!-- <h3 class="section-subheading text-muted">Lorem</h3> -->
      </div>
    </div>
    <div class="row">
    {% for workflow in site.workflows %}
        <div class="col col-12 col-md-4 mb-3">
          <div class="card h-100">
            <div class="card-body d-flex flex-column">
              <h3 class="card-title m-0 fst-italic">{{ workflow.species_of_interest }}</h3>
              {% if workflow.species_subcategory %}
              <h5 class="card-subtitle text-muted m-0">{{ workflow.species_subcategory }}</h5>
              {% endif %}
              {% if workflow.doi %}
                <small>Doi: <a class="card-link mt-auto" href="https://doi.org/{{ workflow.doi }}">{{ workflow.doi }}</a></small>
              {% endif %}
              <!-- <h5 class="card-subtitle text-muted">{{ workflow.title }}</h5> -->
              <p class="card-text mt-3">
                {{ workflow.description }}
              </p>
              <small class="mt-auto text-center">
                <a href="{{ workflow.dataset }}" class="w-100 btn btn-sm mt-auto mb-2 {% if workflow.dataset %}btn-outline-success{% else %}btn-secondary disabled{% endif %}">Get dataset</a>
                <a href="{{ workflow.galaxy }}" class="w-100 btn btn-sm mt-auto mb-2 {% if workflow.galaxy %}btn-outline-success{% else %}btn-secondary disabled{% endif %}">Run on galaxy</a>
                <button type="button" class="w-100 btn btn-sm mt-auto mb-2 btn-outline-success" data-bs-toggle="modal" data-bs-target="#detailModal{{ workflow.title }}">More details</button>
              </small>
            </div>
          </div>
        </div>
        <div class="modal fade mt-auto" id="detailModal{{ workflow.title }}" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-fullscreen-md-down">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modaltitle fs-3" id="detailModalLabel">{{ workflow.species_of_interest }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="container">
                  <div class="row">
                      {{ workflow.content }}
                  </div>
                  <div class="row">
                    <code>{{workflow.citation}}</code>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
