<section id="workflows" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">AMR detection workflows</h2>
        <!-- <h3 class="section-subheading text-muted">Lorem</h3> -->
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
    {% for workflow in site.workflows %}
        <div class="col">
          <div class="card h-100">
            <div class="card-body d-flex flex-column">
              <h3 class="card-title m-0">{{ workflow.species_of_interest }}</h3>
              {% if workflow.species_subcategory %}
              <h5 class="card-subtitle text-muted m-0">{{ workflow.species_subcategory }}</h5>
              {% endif %}
              <!-- <h5 class="card-subtitle text-muted">{{ workflow.title }}</h5> -->
              <p class="card-text mt-3">
                {{ workflow.description }}
              </p>
              <small class="mt-auto">
                {% if workflow.doi %}
                  Doi: <a class="card-link mt-auto" href="https://doi.org/{{ workflow.doi }}">{{ workflow.doi }}</a>
                {% endif %}
                <a href="#" class="w-100 btn btn-outline-success mt-auto">Run on galaxy</a>
              </small>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
