<section id="workflows">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">AMR detection workflows</h2>
        <!-- <h3 class="section-subheading text-muted">Lorem</h3> -->
      </div>
    </div>
    <div class="row">
    {% for workflow in site.workflows %}
        <div class="col col-12 col-md-4 mb-3">
          <div class="card h-100">
            <div class="card-body d-flex flex-column">
              <h3 class="card-title m-0">{{ workflow.species_of_interest }}</h3>
              {% if workflow.species_subcategory %}
              <h5 class="card-subtitle text-muted m-0">{{ workflow.species_subcategory }}</h5>
              {% endif %}
              {% if workflow.doi %}
                <small>Doi: <a class="card-link mt-auto" href="https://doi.org/{{ workflow.doi }}">{{ workflow.doi }}</a></small>
              {% endif %}
              <!-- <h5 class="card-subtitle text-muted">{{ workflow.title }}</h5> -->
              <p class="card-text mt-3">
                {{ workflow.description }}
              </p>
              <small class="mt-auto text-center">
                {% if workflow.dataset %}
                  <a href="{{ workflow.dataset }}" class="w-100 btn btn-outline-success mt-auto mb-2">Get dataset</a>
                {% endif %}
                {% if workflow.galaxy %}
                  <a href="{{ workflow.galaxy }}" class="w-100 btn btn-outline-success mt-auto mb-2">Run on galaxy</a>
                {% else %}
                  <button class="w-100 btn btn-secondary mt-auto mb-2 disabled">Run on galaxy</button>
                {% endif %}
              </small>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
